<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gekko</title>
</head>
<body>
    <h5>Hello from Gekko</h5>
    <h5>Data</h5>
    <pre>{{data}}</pre>
</body>
</html>